* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

html {
  background-color: #212121;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.notes-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .note-create-form {
    height: 18%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding-inline: 10rem;
    background-color: black;

    input {
      border-bottom-right-radius: 1.5rem;
      border-top-left-radius: 1.5rem;
      font-size: 1.25rem;
      padding: 0.8rem 1.4rem;
      border: none;
      flex-grow: 3;
    }

    button {
      cursor: pointer;
      flex-grow: 1;
      font-size: 1.3rem;
      padding: 0.8rem 2rem;
      background-color: #006500;
      color: #e4e4e4;
      border-bottom-right-radius: 1.5rem;
      border-top-left-radius: 1.5rem;
      border: none;
      transition: all 0.2s ease;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: #005600;
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }

  .update-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;

    .note-update-form {
      position: relative;
      z-index: 99;
      height: 16rem;
      width: 24rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.2rem;
      border-bottom-right-radius: 1.5rem;
      border-top-left-radius: 1.5rem;
      background-color: rgba(0, 0, 0, 0.688);
      padding: 1.2rem;

      h2 {
        font-size: 1.4rem;
        color: #e9e9e9;
      }

      input {
        width: 100%;
        border-bottom-right-radius: 1.5rem;
        border-top-left-radius: 1.5rem;
        font-size: 1rem;
        padding: 0.7rem 1.4rem;
        border: none;
      }

      .btns {
        display: flex;
        gap: 1rem;

        button {
          cursor: pointer;
          font-size: 1rem;
          padding: 0.7rem 2rem;
          background-color: #006500;
          color: #e4e4e4;
          border-bottom-right-radius: 1.5rem;
          border-top-left-radius: 1.5rem;
          border: none;
          transition: all 0.2s ease;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            background-color: #005600;
          }

          &:active {
            transform: scale(0.95);
          }
        }
      }
    }
  }

  .notes {
    height: 82%;
    width: 100%;
    padding: 2.1rem;
    display: grid;
    grid-template-columns: repeat(5, minmax(15rem, 1fr));
    grid-auto-rows: 18rem;
    gap: 1rem;
    overflow: auto;
    position: relative;

    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background-color: #494949;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #212121;
      border-radius: 0.5rem;
      border: 0.1rem solid #494949;
      background-clip: padding-box;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #161616;
    }

    .note {
      cursor: default;
      width: 100%;
      height: 100%;
      background-color: #494949;
      border-bottom-right-radius: 1.5rem;
      border-top-left-radius: 1.5rem;
      padding: 1.5rem 0.9rem 1.4rem;
      color: #f8f8f8;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 0.4rem;

      h1 {
        text-transform: capitalize;
        font-size: 1.4rem;
        line-height: 1.4rem;
      }

      .desc {
        overflow-y: auto;
        padding: 0.3rem 0.7rem 0.7rem;
        border-bottom-right-radius: 1rem;
        border-top-left-radius: 1rem;
        width: 100%;
        height: 100%;
        background-color: #555555;

        &::-webkit-scrollbar {
          display: none;
        }

        p {
          color: #ebebeb;
          line-height: 1.1rem;
        }
      }

      button {
        position: absolute;
        border: none;
        cursor: pointer;
        font-weight: 500;
        transition: all 0.2s ease;

        &:active {
          transform: scale(0.95);
        }
      }

      .delete {
        font-size: 0.8rem;
        padding: 0.2rem 0.8rem;
        bottom: 0;
        right: 0;
        color: white;
        background-color: rgb(207, 0, 0);
        border-bottom-right-radius: 1.5rem;
        border-top-left-radius: 1.5rem;

        &:hover {
          background-color: rgb(166, 0, 0);
        }
      }

      .edit {
        font-size: 0.8rem;
        padding: 0.2rem 0.8rem;
        top: 0;
        right: 0;
        color: rgb(210, 210, 210);
        backdrop-filter: blur(20px);
        background-color: #212121;
        border-bottom-left-radius: 1rem;
        border-top: 0.001rem solid #494949;
        border-right: 0.01rem solid #494949;

        &:hover {
          background-color: #383838;
          border-left: 0.001rem solid #212121;
          border-bottom: 0.01rem solid #212121;
        }
      }
    }

    .loading-container {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      .loader {
        width: 6rem;
        height: 6rem;
        border-radius: 5rem;
        border: 0.35rem solid #006500;
        border-bottom-color: transparent;
        animation: spin 1s linear infinite;
      }

      .loader-title {
        color: #e6e6e6;
        font-size: 1.5rem;
        font-weight: 400;
      }
    }
  }
}

@media (max-width: 992px) {
  .notes-container {
    .note-create-form {
      height: 15%;
      padding-inline: 5rem;

      input {
        font-size: 1.15rem;
        padding: 0.7rem 1.4rem;
      }

      button {
        font-size: 1.2rem;
        padding: 0.7rem 2rem;
      }
    }

    .notes {
      height: 85%;
      padding: 1.5rem;
      grid-template-columns: repeat(4, minmax(12rem, 1fr));
      grid-auto-rows: 16rem;

      .note {
        padding: 1.3rem 0.9rem 1.3rem;

        h1 {
          font-size: 1.3rem;
          line-height: 1.3rem;
        }

        .desc {
          padding: 0.2rem 0.6rem 0.6rem;
          font-size: 0.9rem;
        }

      }

      .loading-container {
        top: 45%;
      }
    }
  }
}

@media (max-width: 768px) {
  .notes-container {
    .note-create-form {
      height: 12%;
      padding-inline: 2rem;
      gap: 1rem;

      input {
        font-size: 1.05rem;
        padding: 0.6rem 1.4rem;
      }

      button {
        font-size: 1.05rem;
        padding: 0.6rem 2rem;
      }
    }

    .notes {
      height: 88%;
      padding: 1.2rem;
      grid-template-columns: repeat(3, minmax(14rem, 1fr));
      grid-auto-rows: 16rem;

      .note {
        padding: 1.3rem 0.8rem 1.3rem;

        h1 {
          font-size: 1.25rem;
          line-height: 1.4rem;
        }

        .desc {
          padding: 0.2rem 0.6rem 0.6rem;
          font-size: 0.9rem;
        }
      }

      .loading-container {
        top: 45%;
      }
    }
  }
}

@media (max-width: 480px) {
  .notes-container {
    .note-create-form {
      height: 25%;
      flex-direction: column;
      padding-inline: 2rem;
      padding-block: 1.7rem;
      gap: 0.5rem;

      input {
        font-size: 1rem;
        width: 100%;
        padding: 0rem 1.2rem;
      }

      button {
        font-size: 1rem;
        padding: 0.5rem 1.2rem;
        width: fit-content;
      }
    }

    .notes {
      height: 72%;
      grid-template-columns: repeat(2, minmax(10rem, 1fr));
      grid-auto-rows: 15rem;
      padding: 1rem;
      gap: 0.8rem;

      .note {
        padding: 1.3rem 0.6rem 1.3rem;

        h1 {
          font-size: 1.15rem;
          line-height: 1.2rem;
        }

        .desc {
          padding: 0.2rem 0.6rem 0.6rem;
          font-size: 0.85rem;
        }
      }

      .loading-container {
        .loader {
          width: 4rem;
          height: 4rem;
        }

        .loader-title {
          font-size: 1rem;
        }
      }
    }
  }
}