* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

html {
  background-color: #212121;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.note-create-form {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding-block: 1.5rem;
  background-color: black;

  input {
    border-bottom-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    font-size: 1.25rem;
    padding: 0.7rem 1.4rem;
    border: none;
  }

  button {
    font-size: 1.3rem;
    padding: 0.7rem 2rem;
    background-color: green;
    color: white;
    border-bottom-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    border: none;
    transition: all 0.2s ease;

    &:active {
      transform: scale(0.95);
    }
  }
}

.notes {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1rem;
  padding: 1rem 2rem;

  .note {
    background-color: #494949;
    border-bottom-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    padding: 0.5rem 1.5rem;
    color: white;
    position: relative;

    h1 {
      text-transform: capitalize;
    }

    button {
      position: absolute;
      border: none;
      cursor: pointer;
      font-weight: 500;
      transition: all 0.2s ease;

      &:active {
        transform: scale(0.95);
      }
    }

    .delete {
      font-size: 0.8rem;
      padding: 0.2rem 0.8rem;
      bottom: 0;
      right: 0;
      color: white;
      background-color: rgb(207, 0, 0);
      border-bottom-right-radius: 1.5rem;
      border-top-left-radius: 1.5rem;
    }

    .edit {
      font-size: 0.8rem;
      padding: 0.2rem 0.8rem;
      top: 0;
      right: 0;
      color: rgb(210, 210, 210);
      backdrop-filter: blur(20px);
      background-color: #212121;
      border-bottom-left-radius: 1rem;
      border-top: 0.001rem solid #494949;
      border-right: 0.01rem solid #494949;
    }
  }
}